<div class="banner mt-3" style=" position: relative;
top: 90px;">
    <div class="img__banner" style="margin-bottom: 120px;">
        
    </div>  
</div>
<div class="container">
    <div class="row pt-3 pb-3">
        <p class="title__signup--ticket fs-1 mb-0 pb-0">
            Bamboo Club
        </p>
    </div>
</div>
<div class="content__club--bamboo" style="background-color: #F0F8FC;">
    <div class="container">
        <div class="row pt-3">
            <div class="col-12">
                <a href="" class="text-decoration-none"><span style="font-size: 12px;" class="fw-bold">Trang chủ</span></a>
                <span style="font-size: 8px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
                <a href="" class="text-decoration-none"><span style="font-size: 12px;" class="fw-bold">Bamboo Club</span></a>
            </div>
            
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Giới thiệu</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-gift ps-1"></i><span class="ps-2" style="font-size: 14px;">Giới thiệu Bamboo Club</span></a>
                            </li>
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-regular fa-circle-check"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                bottom: 3px;">Hướng dẫn đặt vé</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Tin tức Bamboo Club </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Phiên ngang thẻ </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Bamboo Club Unlimited </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Đăng ký hội viên</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-pen"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                bottom: 3px;">Kênh tiếp nhận đăng ký</span></a>
                            </li>
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-regular fa-chess-bishop"></i><span class="ps-3" style="font-size: 14px; position: relative;
                                bottom: 3px;">Câu hỏi thường gặp</span></a>
                            </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-display"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 5px;">Đăng nhập</span></a>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Điều khoản và điều kiện </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">In thẻ cứng </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Cộng điểm & xét hạng</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-plus"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                bottom: 5px;">Nguyên tắc cộng điểm</span></a>
                            </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-plane"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                  bottom: 5px;">Tiêu chuẩn xét hạng thẻ</span></a>
                              </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-circle-exclamation"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                bottom: 5px;">Hướng dẫn tích điểm hội viên</span></a>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Mua & Sử dụng điểm</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Mua điểm xét hạng</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Mua chặng bay xét hạng</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Mua điểm thưởng</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Sử dụng điểm thưởng</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row pb-5 pt-5">
                    <div class="row">
                        <div class="col-12">
                          <h3 class="fw-normal" style="font-size: 22px;">Ưu đãi từ các đối tác</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Hàng không</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Thẻ đồng thương hiệu</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Ngân hàng/Bảo hiểm</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Nghỉ dưỡng/Golf</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Giáo dục/Sức khỏe</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Vận chuyển/Viễn thông</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Giải trí/Mua sắm</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Bamboo Choice</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>