<div class="banner mt-3" style=" position: relative;
top: 90px;">
    <div class="img__banner" style="margin-bottom: 120px;">
        <img src="src/img/contact.png" alt="" class="w-100" style="height: 565px;">
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="" class="text-decoration-none"><span style="font-size: 14px;" class="fw-bold">Trang chủ</span></a>
            <span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
            <a href="" class="text-decoration-none"><span style="font-size: 14px;" class="fw-bold">Về chúng tôi</span></a>
            <span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
            <span style="font-size: 14px;">Liên hệ</span>
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <p class="title__signup--ticket fs-1">
            Liên hệ
        </p>
    </div>
    <div class="row">
        <h3 class="text-center">VIỆT NAM</h3>
    </div>
    <div class="row mt-4 pb-2" style="border-bottom: 1px solid #00305b;">
        <p class="fw-bolder">Tổng đài hỗ trợ vé máy bay</p>
        <ul class="ps-5">
            <li class="fw-semibold">Điện thoại: <span class="fw-bold">+84 1900 1166</span></li>
            <li class="fw-semibold">Email: <a href="" class="fw-bold text-decoration-none fs-6">19001166@bambooairways.com</a></li>
        </ul>
        <p class="fw-bolder">Tổng đài chăm sóc hội viên và khách hàng doanh nghiệp</p>
        <ul class="ps-5">
            <li class="fw-semibold">Điện thoại: <span class="fw-bold">+84 1900 1166</span></li>
        </ul>
    </div>
    <div class="row mt-4 pb-2" style="border-bottom: 1px solid #00305b;">
        <p class="fw-bolder">Phòng vé tại Hà Nội</p>
        <div class="d-flex">
            <span class="fw-bolder pe-1">Điện thoại: </span> <span  class="fw-semibold">+84 024 3233 3233 nhánh 1905-1906-1907 – </span> <span class="fw-bolder pe-1 ps-1"> Email:</span> <span><a href="" class="fw-bolder text-decoration-none fs-6">cto.han@bambooairways.com</a></span>
        </div>
        <p class="fst-italic pt-2">Phòng vé Cầu Giấy</p>
        <ul class="ps-5">
            <li  class="fw-semibold">Địa chỉ: Tầng 1, Tòa nhà Bamboo Airways Tower, 265 Cầu Giấy, Phường Dịch Vọng, Quận Cầu Giấy, Hà Nội</li>
            <li  class="fw-semibold">Thời gian mở cửa: Từ 08h00 đến 18h00 tất cả các ngày</a></li>
        </ul>
        <p class="fst-italic pt-2">Phòng vé sân bay Nội Bài</p>
        <ul class="ps-5">
            <li class="fw-semibold">Tầng 2, Sảnh A, Nhà ga T1, Sân bay Quốc tế Nội Bài, Phú Minh, Sóc Sơn, Hà Nội</li>
        </ul>
    </div>
    <div class="row mt-4 pb-2" style="border-bottom: 1px solid #00305b;">
        <p class="fw-bolder">Phòng vé tại Đà Nẵng</p>
        <div class="d-flex">
            <span class="fw-bolder pe-1">Điện thoại: </span> <span  class="fw-semibold">+84 0963 848 411 – </span> <span class="fw-bolder pe-1 ps-1"> Email:</span> <span><a href="" class="fw-bolder text-decoration-none fs-6">cto.dad@bambooairways.com</a></span>
        </div>
       
        <p class="fw-semibold pt-3">Địa chỉ: Số 14 Lê Đình Dương, quận Hải Châu, thành phố Đà Nẵng</p>
        <p class="fw-semibold">Thời gian mở cửa: Từ 08h00 đến 18h00 tất cả các ngày</p>
       
        <p class="fst-italic pt-2">Phòng vé sân bay Đà Nẵng</p>
        <ul class="ps-5">
            <li class="fw-semibold">Tầng 2, cổng D4 Nhà ga Quốc nội sân bay Đà nẵng, Quận Hải Châu, Đà Nẵng</li>
        </ul>
    </div>
    <div class="row mt-4 pb-2" style="border-bottom: 1px solid #00305b;">
        <p class="fw-bolder">Phòng vé tại TP Hồ Chí Minh</p>
        <div class="d-flex">
            <span class="fw-bolder pe-1">Điện thoại: </span> <span  class="fw-semibold">+84 0963 840 549 – </span> <span class="fw-bolder pe-1 ps-1"> Email:</span> <span><a href="" class="fw-bolder text-decoration-none fs-6">cto.sgn@bambooairways.com</a></span>
        </div>
        <ul class="ps-5 pt-3">
            <li  class="fw-semibold">Tầng 1, tầng 4 – Toà nhà Nova College, 130-132 Hồng Hà, Phường 9, Q.Phú Nhuận, TP. Hồ Chí Minh.</li>
        </ul>
        <ul class="ps-5">
            <li class="fw-semibold"><span class="fw-bold">Phòng vé</span> tại sân bay Tân Sơn Nhất: cửa D3, Ga Quốc Nội, Sân Bay Tân Sơn Nhất.</li>
        </ul>
        <p>Thời gian mở cửa: 8h-18h từ thứ 2 – thứ 6 và 8h30-17h thứ 7 – chủ nhật </p>
    </div>
    <div class="row mt-4 pb-2">
        <p class="fw-bolder">Phòng vé tại Côn Đảo</p>
        <ul class="ps-5">
            <li class="fw-semibold">Địa chỉ: Tổ 2, khu 8, đường Phạm Văn Đồng, Côn Đảo, tỉnh Bà Rịa Vũng Tàu.</li>
        </ul>
        <p>Thời gian mở cửa: Từ 08h00 đến 17h00 tất cả các ngày</p>
    </div>
    <div class="row mb-5">
        <h3 class="text-center">QUỐC TẾ</h3>
    </div>
</div>