<div class="banner mt-3" style=" position: relative;
top: 90px;">
    <div class="img__banner" style="margin-bottom: 120px;">
        <img src="src/img/image_saleticket.png" alt="" class="w-100" style="height: 565px;">
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="" class="text-decoration-none"><span style="font-size: 14px;" class="fw-bold">Trang chủ</span></a>
            <span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
            <a href="" class="text-decoration-none"><span style="font-size: 14px;" class="fw-bold">Ưu đãi</span></a>
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <p class="title__signup--ticket fs-1">
            Ưu đãi
        </p>
    </div>
    <div class="row pb-4" style="border-bottom: 1px solid #093163">
        <div class="col-12">
            <h4 style="color: #00305b;" class="pb-3 fs-5 fw-bold">BAY NỘI ĐỊA</h4>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b; font-size: 15px;">Bay đi đâu không quan trọng, quan trọng là bay cùng Bamboo Airways!</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-3 fw-semibold" style="color: #00305b;  font-size: 15px;">Nhiều ưu đãi vé bay nội địa với mức giá hấp dẫn để bạn thỏa sức vi vu, khám phá mảnh đất hình chữ S xinh đẹp!</P>
        </div>
       <div class="row pe-0 sale--ticket">
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale1.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale2.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale3.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale4.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <!-- <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale5.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div> -->
       </div>
    </div>
    <div class="row pb-4" style="border-bottom: 1px solid #093163">
        <div class="col-12">
            <h4 style="color: #00305b;" class="pb-3 pt-3 fs-5 fw-bold">BAY QUỐC TẾ</h4>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold lh-lg" style="color: #00305b;  font-size: 15px;">Nhằm phục vụ nhu cầu đi lại của hành khách, Bamboo Airways chính thức khai thác các chuyến bay Quốc tế thường lệ (chở khách 2 chiều) kết nối Việt Nam với Anh, Đức, Úc, Nhật Bản, Hàn Quốc, Singapore và Thái Lan với nhiều ưu đãi vé bay hấp dẫn.</P>
        </div>
        <div class="row pe-0 sale--ticket">
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale7.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale9.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale8.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <!-- <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale4.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div> -->
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/sale5.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
       </div>
    </div>
    <div class="row pb-4" style="border-bottom: 1px solid #093163">
        <div class="col-12">
            <h4 style="color: #00305b;" class="pb-3 pt-3 fs-5 fw-bold">THẺ QUÀ TẶNG</h4>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Gửi tặng thẻ cho người thân, bạn bè, đối tác,… qua email nhanh gọn chỉ trong vài thao tác nhập thông tin</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Nhận ngay ưu đãi đặc biệt từ Bamboo Club khi mua Thẻ Quà tặng Bamboo Gift Card</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Chủ thẻ có thể mua vé cho bản thân hoặc bất kỳ ai</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Không giới hạn số chỗ trên máy bay cho các đặt chỗ được thanh toán bằng thẻ Bamboo Gift Card</P>
        </div>
        <div class="row pe-0">
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_gift1.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_gift2.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_gift3.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_gift4.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
       </div>
    </div>
    <div class="row pb-4" style="border-bottom: 1px solid #093163">
        <div class="col-12">
            <h4 style="color: #00305b;" class="pb-3 pt-3 fs-5 fw-bold">VÉ THÁNG</h4>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Vé tháng là thẻ bay định danh, cho phép bay siêu tiết kiệm với giá vé 0đ, chỉ thanh toán thuế, phí mỗi chuyến bay</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Bay không giới hạn số lần, không loại trừ giai đoạn cao điểm và lễ tết</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Chủ động sử dụng vé tháng đặt chuyến bay, gia hạn vé tháng dễ dàng, thao tác thuận tiện trên các nền tảng trực tuyến của Bamboo Airways</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Linh hoạt thời gian kích hoạt  và gia hạn vé tháng</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Không cần lo lắng về chênh lệch giá vé mỗi ngày. Chỉ cần chi trả một khoản chi phí tối thiểu mỗi lần đặt vé</P>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold" style="color: #00305b;  font-size: 15px;">√ Được áp dụng các chương trình khuyến mãi đặc biệt dành riêng cho khách hàng sử dụng Vé tháng (khi có)</P>
        </div>
        <div class="row pe-0 sale--ticket">
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_month1.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_month2.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_month3.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_month4.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <!-- <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/card_month5.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div> -->
       </div>
    </div>
    <div class="row pb-4">
        <div class="col-12">
            <h4 style="color: #00305b;" class="pb-3 pt-3 fs-5 fw-bold">THẺ BAY TRẢ TRƯỚC</h4>
        </div>
        <div class="col-12">
            <P class="fst-italic pb-1 fw-semibold lh-lg" style="color: #00305b;  font-size: 15px;"><span class="fw-bold">Bamboo Pass</span> là loại Thẻ bay trả trước dùng để thanh toán cho các giao dịch mua vé máy bay và các sản phẩm bổ trợ của Bamboo Airways trên Website bằng số tiền có trong thẻ (tương ứng với từng hạn mức thẻ).</P>
        </div>
        <div class="row pe-0">
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/before1.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
            <div class="col-3 ps-2 pe-2">
                <a href=""><img src="src/img/before2.png" alt="" class="w-100 rounded p-1 border border-1" height="194px"></a>
            </div>
       </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="fw-normal">Đường bay giá hấp dẫn:</h3>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-4 position-relative">
            <div class="icon position-absolute" style="top: 8px">
                <i class="fa-solid fa-location-dot fs-4 ps-3"></i>
            </div>
            <select class="form-select form-select-lg mb-3 ps-5 fs-6" aria-label="Điểm đến">
                <option  >Điểm đi</option>
                <option value="1">TP. Hồ Chí Minh <span>(SGN)</span></option>
                <option value="2">Đà Nẵng <span>(DAD)</span></option>
                <option value="3">Hà Nội <span>(HAN)</span></option>
                <option value="4">Phú Quốc <span>(PQC)</span></option>
                <option value="5">Đà Lạt <span>(DLI)</span></option>
                <option value="6">Quy Nhơn <span>(UIH)</span></option>
                <option value="7">Hải Phòng <span>(HPH)</span></option>
                <option value="8">Côn Đảo <span>(VCS)</span></option>
            </select>
        </div>
          <div class="col-4 position-relative">
            <div class="icon position-absolute" style="top: 8px">
              <i class="fa-solid fa-location-dot fs-4 ps-3"></i>
            </div>
            <select class="form-select form-select-lg mb-3 ps-5 fs-6" aria-label="Điểm đến">
              <option  >Điểm đến</option>
              <option value="1">TP. Hồ Chí Minh <span>(SGN)</span></option>
              <option value="2">Đà Nẵng <span>(DAD)</span></option>
              <option value="3">Hà Nội <span>(HAN)</span></option>
              <option value="4">Phú Quốc <span>(PQC)</span></option>
              <option value="5">Đà Lạt <span>(DLI)</span></option>
              <option value="6">Quy Nhơn <span>(UIH)</span></option>
              <option value="7">Hải Phòng <span>(HPH)</span></option>
              <option value="8">Côn Đảo <span>(VCS)</span></option>
            </select>
        </div>
        <div class="col-4 position-relative">
            <div class="icon position-absolute fw-semibold " style="left: 23px; top: 11px; font-size: 14px;">
              VND
            </div>
            <input class="form-control money__max ps-5" type="text" placeholder="Nhập ngân sách tối đa" aria-label="default input example" style="border: 1px solid #00305b; padding-top: 8px; padding-bottom: 8px;">
        </div>
    </div>
    <table class="table table-hover mt-4">
       <thead style="border-bottom: 2px solid #00305b;">
            <tr>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Ngày</th>
                <th>Loại vé</th>
                <th></th>
            </tr>
       </thead>
       <tbody>
            <tr>
                <th style="font-size: 15px !important;">TP. Hồ Chí Minh <p>(SGN)</p></th>
                <th style="font-size: 15px !important;">Hải Phòng <p>(HPH)</p></th>
                <td class="fw-semibold">Ngày đi: 23/03/2023</td>
                <td class="fw-semibold">Một chiều</td>
                <td class="fw-semibold">
                    <p class="mb-2">chỉ từ</p>
                    <p class="mb-2">1,089,000 VND*</p>
                    <p class="mb-2">Đã xem: 5 phút trước</p>
                </td>
            </tr>
            <tr>
                <th style="font-size: 15px !important;">TP. Hồ Chí Minh <p>(SGN)</p></th>
                <th style="font-size: 15px !important;">Hải Phòng <p>(HPH)</p></th>
                <td class="fw-semibold">Ngày đi: 23/03/2023</td>
                <td class="fw-semibold">Một chiều</td>
                <td class="fw-semibold">
                    <p class="mb-2">chỉ từ</p>
                    <p class="mb-2">1,089,000 VND*</p>
                    <p class="mb-2">Đã xem: 5 phút trước</p>
                </td>
            </tr>
            <tr>
                <th style="font-size: 15px !important;">TP. Hồ Chí Minh <p>(SGN)</p></th>
                <th style="font-size: 15px !important;">Hải Phòng <p>(HPH)</p></th>
                <td class="fw-semibold">Ngày đi: 23/03/2023</td>
                <td class="fw-semibold">Một chiều</td>
                <td class="fw-semibold">
                    <p class="mb-2">chỉ từ</p>
                    <p class="mb-2">1,089,000 VND*</p>
                    <p class="mb-2">Đã xem: 5 phút trước</p>
                </td>
            </tr>
            <tr>
                <th style="font-size: 15px !important;">Đà Lạt <p>(DLI)</p></th>
                <th style="font-size: 15px !important;">TP. Hồ Chí Minh <p>(SGN)</p></th>
                <td class="fw-semibold">Ngày đi: 26/03/2023</td>
                <td class="fw-semibold">Một chiều</td>
                <td class="fw-semibold">
                    <p class="mb-2">chỉ từ</p>
                    <p class="mb-2">1,160,000 VND*</p>
                    <p class="mb-2">Đã xem: 5 phút trước</p>
                </td>
            </tr>
            
       </tbody>
    </table>
    <div class="row pt-4 pb-5">
        <div class="col-12 text-center">
            <button type="submit" class="mb-3 pt-2  pb-2 ps-5 pe-5 fw-bold ms-4 view__btn--sale-ticket">Xem thêm</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center" style="font-size: 14px;">
            *Giá vé trên chưa bao gồm thuế, phí, phụ thu và được thu thập trong vòng 24 giờ và có thể không còn hiệu lực tại thời điểm đặt chỗ.
        </div>
    </div>
</div>
