<div class="banner mt-3" style=" position: relative;
top: 90px;">
    <div class="img__banner" style="margin-bottom: 120px;">
        <img src="src/img/banner-2.png" alt="" class="w-100" style="height: 565px;">
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="" class="text-decoration-none"><span style="font-size: 14px;" class="fw-bold">Trang chủ</span></a>
            <span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
            <a href="" class="text-decoration-none"><span style="font-size: 14px;" class="fw-bold">Thông tin đặt vé</span></a>
            <span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
            <a href="" class="text-decoration-none"><span style="font-size: 14px;" class="fw-bold">Đặt chuyến bay</span></a>
            <span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
            <span style="font-size: 14px;">Đặt vé máy bay</span>
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <p class="title__signup--ticket fs-1">
            Đặt vé máy bay
        </p>
    </div>
    <form action="" class="row">
        <div class="col-6 position-relative">
            <label for="" style="font-size: 14px;" class="fw-semibold">Điểm đi</label>
            <select class="form-select ps-5" aria-label="Default select example">
                <option >Chọn điểm khởi hành</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="icon__location position-absolute fs-5" style="top: 27px; left: 30px;">
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
        <div class="col-6 position-relative">
            <label for="" style="font-size: 14px;" class="fw-semibold">Điểm đến</label>
            <select class="form-select ps-5" aria-label="Default select example">
                <option >Chọn điểm đến</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="icon__location position-absolute fs-5" style="top: 27px; left: 30px;">
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
        <div class="col-12 pt-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-secondary btn-sm ps-5 pe-5 fw-bold " for="btnradio1" style="font-size: 14px; border-color: #00305b; ">Khứ hồi</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm ps-5 pe-5 fw-bold" for="btnradio2" style="font-size: 14px; border-color: #00305b; ">Một chiều</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm ps-5 pe-5 fw-bold" for="btnradio3" style="font-size: 14px; border-color: #00305b; ">Nhiều chặng</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-check pt-2 pb-2" >
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="border-color: #00305b;">
                <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                  Nhập mã khuyến mãi
                </label>
              </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Ngày đi</label>
                <input type="date" class="form-control" id="" placeholder="name@example.com" style="border-color: #00305b;">
              </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Ngày về</label>
                <input type="date" class="form-control" id="" placeholder="name@example.com" style="border-color: #00305b;">
              </div>
        </div>
        <div class="col-4 mb-3">
            <label for="" style="font-size: 14px;" class="fw-semibold">Người lớn <span class="fw-normal">(từ 12 tuổi trở lên)</span> </label>
            <select class="form-select" aria-label="Default select example">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <div class="col-4 mb-3">
            <label for="" style="font-size: 14px;" class="fw-semibold">Trẻ em <span class="fw-normal">(từ 2 - dưới 12 tuổi)</span></label>
            <select class="form-select" aria-label="Default select example">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="col-4 mb-3">
            <label for="" style="font-size: 14px;" class="fw-semibold">Em bé <span class="fw-normal">(dưới 2 tuổi)</span></label>
            <select class="form-select" aria-label="Default select example">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Họ và tên</label>
                <input type="text" class="form-control" id="" placeholder="Nhập tên của bạn" style="border-color: #00305b;">
              </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Email</label>
                <input type="email" class="form-control" id="" placeholder="name@example.com" style="border-color: #00305b;">
              </div>
        </div>
        <div class="col-12 mb-3">
            <label for="" style="font-size: 14px;" class="fw-semibold">Giới tính của bạn</label>
            <select class="form-select" aria-label="Default select example">
                <option value="0">Nam</option>
                <option value="1">Nữ</option>
            </select>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Số điện thoại</label>
                <input type="text" class="form-control" id="" placeholder="0987654321" style="border-color: #00305b;">
              </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Ngày sinh</label>
                <input type="date" class="form-control" id="" placeholder=" " style="border-color: #00305b;">
              </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Ảnh CMT/CCCD mặt trước</label> 
                <br>
                <img style="width: 70%; height: 280px;" class="rounded" src="src/img/cccd-mt.png" alt="">
                <input type="file" class="mt-3">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label fw-semibold" style="font-size: 14px;">Ảnh CMT/CCCD mặt sau</label>
                <br>
                <img style="width: 70%; height: 280px;" loading="lazy" class="rounded" src="src/img/cccd-ms.png" alt="">
                <input type="file" class="mt-3">
              </div>
        </div>
        <div class="col-6 mb-3">
            <label for="" style="font-size: 14px;" class="fw-semibold">Hành lý</label>
            <select class="form-select" aria-label="Default select example">
                <option value="0">Có</option>
                <option value="1">Không</option>
            </select>
        </div>
        <div class="col-6 mb-3">
            <label for="" style="font-size: 14px;" class="fw-semibold">Hình thức thanh toán</label>
            <select class="form-select" aria-label="Default select example">
                <option value="0">Thanh toán tại quầy giao dịch</option>
                <option value="1">Thanh toán qua thẻ tín dụng</option>
            </select>
        </div>
        <div class="col-12 text-center mb-5">
            <button type="submit" class="signup__email-btn btn mb-3 ps-5 pe-5 fw-bold btn-lg ticket">Thanh toán</button>
        </div>
    </form>
</div>