<div class="banner mt-3" style=" position: relative;
top: 90px;">
    <div class="img__banner" style="margin-bottom: 120px;">
        
    </div>  
</div>
<div class="container">
    <div class="row pt-3 pb-3">
        <p class="title__signup--ticket fs-1 mb-0 pb-0">
            Thông tin hành trình
        </p>
    </div>
</div>
<div class="content__club--bamboo" style="background-color: #F0F8FC;">
    <div class="container">
        <div class="row pt-3">
            <div class="col-12">
                <a href="" class="text-decoration-none"><span style="font-size: 12px;" class="fw-bold">Trang chủ</span></a>
                <span style="font-size: 8px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span>
                <a href="" class="text-decoration-none"><span style="font-size: 12px;" class="fw-bold">Thông tin hành trình</span></a>
            </div>
            
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Thông tin hành lý</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-suitcase fs-3"></i><span class="ps-2" style="font-size: 14px;">Hàng lý xách tay</span></a>
                            </li>
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-suitcase-rolling fs-2"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                bottom: 3px;">Hành lý miễn cước</span></a>
                            </li>
                            <li class="nav-item">
                       
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#">         <i class="fa-solid fa-cart-flatbed-suitcase ms-1 fs-3"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 3px;">Hành lý tính cước</span></a>
                            </li>
                            <li class="nav-item">
                                
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#">         <i class="fa-solid fa-tags ms-2 fs-3"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 3px;">Hành lý đặc biệt</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#">         <i class="fa-solid fa-triangle-exclamation ms-2 fs-3"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 3px;">Hành lý hạn chế vận chuyên</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Vận chuyển vật phẩm có điều kiện</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#">         <i class="fa-solid fa-triangle-exclamation ms-2 fs-3"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 3px;">Vật phẩm nguy hiểm</span></a>
                              </li>
                              <li class="nav-item">
                                
                                
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#">         <i class="fa-solid fa-person-walking-luggage fs-2"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 3px;">Hành lý đến chậm hư hỏng hoặc bỏ quên</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#">         <i class="fa-regular fa-address-card fs-3 ms-2"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 3px;">Liên hệ tìm kiếm hành lý</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Dịch vụ vận chuyển động vật cảnh</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                              </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Thông tin khách hàng</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-children fs-3"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                bottom: 3px;">Hành khách trẻ em</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Trẻ em đi một mình </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                              </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-venus fs-3 ms-2"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 5px;">Phụ nữ mang thai</span></a>
                              </li>
                            <li class="nav-item">
                                
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#"><i class="fa-solid fa-wheelchair fs-3 ms-2"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 5px;">Người khuyết tật</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Khách dị ứng thực phẩm </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-4" href="#">         <i class="fa-regular fa-address-card fs-3 ms-2"></i><span class="ps-2" style="font-size: 14px;position: relative;
                                    bottom: 4px;">Yêu cầu giấy tờ tùy thân</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Thông tin y tế </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4 ps-2" href="#"><span class="ps-0" style="font-size: 14px;">Chính sách phục vụ trong trường hợp bất thường </span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                              </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Làm thủ tục</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            <li class="nav-item ps-2">
                              <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-check"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                bottom: 5px;">Làm thủ tục trực tuyến</span></a>
                            </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-location-dot"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                  bottom: 5px;">Làm thủ tục tại sân bay</span></a>
                              </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-computer-mouse"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                bottom: 5px;">Quầy làm thủ tục tự động</span></a>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 ps-2">
                <div class="row">
                    <div class="col-12">
                      <h3 class="fw-normal" style="font-size: 22px;">Sản phẩm liên kết</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav flex-column">
                            
                            <li class="nav-item ps-2">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-hotel"></i><span class="ps-2" style="font-size: 14px; position: relative;
                                bottom: 5px;">Quần thể nghỉ dưỡng FLC</span></a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link ps-0 text-decoration-none fw-bold fs-3" href="#"><i class="fa-solid fa-golf-ball-tee ms-2 fs-2"></i><span class="ps-2" style="font-size: 14px; left: 2px; position: relative;
                                    bottom: 5px;">Golf</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Bamboo VIP</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="row pb-5 pt-5">
                    <div class="row">
                        <div class="col-12">
                          <h3 class="fw-normal" style="font-size: 22px;">Thông tin khuyến cáo</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link p-0 text-decoration-none fw-bold fs-4" href="#"><span class="ps-2" style="font-size: 14px;">Quy định Xuất nhập cảnh</span><span style="font-size: 10px;" class="ps-2 pe-2"><i class="fa-solid fa-chevron-right"></i></span></a>
                                </li>                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>